body {
  background: linear-gradient(to bottom, SteelBlue 20%, SkyBlue 100%);
  /*background: linear-gradient(to bottom, #325571 0%, #8e9fa4 48%, #decab2 76%, #f2d580 88%, #ffa642 100%);*/
}

/* Weather summary */
#weather-summary {
  background-color: #FFF;
  border: 1px solid #000;
  border-radius: 5px;
  color: black;
  margin-bottom: 35px;
  margin-left: 14%;
  margin-top: 80px;
  padding: 5px;
  width: 40%;
}

#ws-location {
  font-size: 1.7em;
}

#ws-datetime, #ws-description {
  font-size: 1.2em;
}

#ws-details {
  padding-top: 15px;
}

#ws-icon {
  float: left;
  font-size: 4em;
}

#ws-temp-f {
  float: left;
  font-size: 5em;
  margin-top: -20px;
  margin-left: 25px;
}

#ws-temp-c {
  display: none;
  float: left;
  font-size: 5em;
  margin-top: -20px;
  margin-left: 25px;
}

#ws-temp-f-toggle {
  font-weight: bold;
  margin-right: -3px;
}

#ws-temp-f-toggle:hover {
  cursor: pointer;
}

#ws-temp-c-toggle {
  margin-left: -5px;
}

#ws-temp-c-toggle:hover {
  cursor: pointer;
}

#ws-misc-details {
  float: right;
  margin-top: -20px;
  padding-right: 20px;
}

#ws-misc-details table tr td {
  padding-bottom: 5px;
  padding-right: 10px;
  vertical-align: middle;
}

#ws-misc-details table tr td span {
  display: table-cell;
  padding-right: 5px;
  vertical-align: middle;
}

#ws-misc-details table tr td span i {
  display: table-cell;
  font-size: 1.4em;
  vertical-align: middle;
}

#ws-misc-details table tr td span#ws-sunrise-time {
  display: inline;
  padding-left: 5px;
}

#ws-misc-details table tr td span#ws-sunset-time {
  display: inline;
  padding-left: 5px;
}

#ws-wind-title {
  padding-right: 5px;
  vertical-align: middle;
}

#ws-wind-stats {
  margin-left: -5px;
  vertical-align: middle;
}

/* End Weather summary */

/* Weather Forecast */

#weather-forecast {
  margin: auto;
  margin-bottom: 80px;
  width: 85%;
}

.weather-table {
  background-color: #FFF;
  color: black;
  margin: auto;
  width: 85%;
}

#high-low-col {
  width: 20%;
}

#high-low-col:hover {
  background-color: #DDD;
  cursor: pointer;
}

.weather-table th {
  padding: 7px 0 6px 10px;
}

.weather-table tr {
  border: 1px solid black;
}

.weather-table td {
  padding: 5px 0 5px 10px;
}

.weather-table td p {
  font-size: 0.8em;
  margin: 0;
}

.weather-table td.high-lows span {
  display: inline;
  padding-left: 0;
}

.weather-table td.high-lows span.hlc {
  display: none;
}

.weather-table td.high-lows span span.high {
  font-size: 1.2em;
}

.weather-table td.high-lows span span.slash {
  border-right: 1px solid #555;
  display: inline-block;
  height: 17px;
  margin: 0 2px 0 6px;
  position: relative;
  transform: skewX(-35deg);
}

.weather-table td.high-lows span span.low {
  bottom: -8px;
  color: #888;
  margin-left: 2px;
  position: relative;
}

.weather-table td p.dayName {
  font-weight: bold;
  font-size: 0.7em;
  margin-bottom: 3px;
  text-transform: uppercase;
}

.weather-table td i {
  display: table-cell;
  font-size: 1.7em;
}

.weather-table td span {
  display: table-cell;
  padding: 0 0 0 15px;
  vertical-align: middle;
}

.weather-table td span.wind-icon {
  display: table-cell;
  padding: 0;
  vertical-align: middle;
}

/* End Weather Forecast */

/* About section */
#about {
  margin: auto;
  padding-top: 7px;
  text-align: right;
  width: 85%;
}

#about a {
  color: white;
  font-size: 1em;
}

#myModalAbout {
  color: black;
}

.modal-body .row {
  margin: auto;
}

#myModalAbout h1 {
  font-size: 2em;
  text-align: center;
}

/* Weather Icon coloring */
/* Overrides to change colors of weather icons. */
.wi {
  color: purple;
}

/* Fog, cloudy, storm-showers*/
.wi-owm-741,
.wi-owm-801,
.wi-owm-804 {
  color: gray;
}

/* Lightning, thunderstorms */
.wi-owm-200,
.wi-owm-201,
.wi-owm-221,
.wi-owm-230,
.wi-owm-232 {
  color: #FF00AA;
}

/* sprinkle, showers, rain-mix, mist */
.wi-owm-300,
.wi-owm-301 {
  color: LightSkyBlue;
}

/* heavier rain, cold */
.wi-owm-302,
.wi-owm-501,
.wi-owm-502,
.wi-owm-522,
.wi-owm-901 {
  color: RoyalBlue;
}

/* Snow, freezing */
.wi-owm-511,
.wi-owm-600,
.wi-owm-601,
.wi-owm-602,
.wi-owm-620,
.wi-owm-621 {
  color: cyan;
}

/* Sleet */
.wi-owm-611,
.wi-owm-612 {
  color: LightSlateGray;
}

/* Sunny */
.wi-owm-800 {
  color: gold;
}

/* hail, fog */
.wi-owm-741,
.wi-owm-906 {
  color: LightGray;
}

.wi-owm-801,
.wi-owm-804 {
  color: Gray;
}

/* Wind direction icons. */
.wi.wi-wind {
  color: #000;
}

.wi-sunrise,
.wi-sunset {
  color: #000;
}
