body {
  background: linear-gradient(to bottom, SteelBlue 20%, SkyBlue 100%);
  /*background: linear-gradient(to bottom, #325571 0%, #8e9fa4 48%, #decab2 76%, #f2d580 88%, #ffa642 100%);*/

  color: white;
}

#row_title {
  margin-bottom: 30px;
}
h1 {
  font-size: 2.6em;
  text-align: center;
}


#weather_summary {
  margin: auto;
  width: 85%;
}

.weather_table {
  background-color: #FFF;
  color: black;
  margin: auto;
  width: 85%;

}


#HighLowColumn:hover {
  background-color: #DDD;
}

.weather_table th {
  padding: 7px 0 6px 10px;
}
.weather_table tr {
  border: 1px solid black;
}
.weather_table td {
  padding: 5px 0 5px 10px;
  border: 1px solid black; /* remove later */
}

.weather_table td p {
  font-size: 0.8em;
  margin: 0;
}
.weather_table td.highLows span {
  display: inline;
  padding-left: 0;
}

.weather_table td p.dayName {
  font-weight: bold;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.weather_table td i {
  font-size: 1.7em;
  display: table-cell;
}

.weather_table td span {
  padding: 0 0 0 15px;
  vertical-align: middle;
  display: table-cell;
}

.weather_table td span.wind-icon {
  padding: 0;
  vertical-align: middle;
  display: table-cell;
}

#about {
  bottom: 0;
  width: 100%;
  position: fixed;
  padding-bottom: 7px;
  text-align: right;
}
#about a {
  padding-right: 15px;
  font-size: 1em;
  color: white;
}

#myModalAbout {
  color: black;
}
.modal-body .row {
	margin: auto;
}

#myModalAbout h1 {
  font-size: 2em;
  text-align: center;
}
