body {
  background: linear-gradient(to bottom, SteelBlue 20%, SkyBlue 100%);
  /*background: linear-gradient(to bottom, #325571 0%, #8e9fa4 48%, #decab2 76%, #f2d580 88%, #ffa642 100%);*/

  color: white;
}

#row_title {
  margin-bottom: 30px;
}
h1 {
  font-size: 2.6em;
  text-align: center;
}


#weather_summary {
  margin: auto;
  width: 85%;
}

.weather_table {
  background-color: #FFF;
  color: black;
  margin: auto;
  width: 85%;

}

#HighLowColumn:hover {
  background-color: #DDD;
}

.weather_table th {
  padding: 7px 0 6px 10px;
}
.weather_table tr {
  border: 1px solid black;
}
.weather_table td {
  padding: 5px 0 5px 10px;
  /*border: 1px solid black; */
}

.weather_table td p {
  font-size: 0.8em;
  margin: 0;
}
.weather_table td.highLows span {
  display: inline;
  padding-left: 0;
}

.weather_table td p.dayName {
  font-weight: bold;
  font-size: 0.7em;
  text-transform: uppercase;
  margin-bottom: 3px;
}

.weather_table td i {
  font-size: 1.7em;
  display: table-cell;
}

.weather_table td span {
  padding: 0 0 0 15px;
  vertical-align: middle;
  display: table-cell;
}

.weather_table td span.wind-icon {
  padding: 0;
  vertical-align: middle;
  display: table-cell;
}

#about {
  bottom: 0;
  width: 100%;
  position: fixed;
  padding-bottom: 7px;
  text-align: right;
}
#about a {
  padding-right: 15px;
  font-size: 1em;
  color: white;
}

#myModalAbout {
  color: black;
}
.modal-body .row {
	margin: auto;
}

#myModalAbout h1 {
  font-size: 2em;
  text-align: center;
}

/* Overrides to change colors of weather icons. */
.wi {
  color: purple;
}
/* Thunderstorms, fog, cloudy, storm-showers*/
.wi-owm-200,.wi-owm-230,.wi-owm-741,.wi-owm-531,.wi-owm-804 {
  color: gray;
}
/* Lightning */
.wi-owm-210 {
  color: yellow;
}
/* sprinkle, showers, rain-mix */
.wi-owm-300, .wi-owm-310, .wi-owm-313 {
  color: LightSkyBlue;
}
/* rain */
.wi-owm-302, .wi-owm-311 {
  color: SkyBlue;
}
/* Snow */
.wi-owm-600 {
  color: cyan;
}
/* Sleet */
.wi-owm-602 {
  color: LightSlateGray;
}
/* Smoke */
.wi-owm-711 {
  color: black;
}
/* Day-haze */
.wi-owm-721 {
  color: orange;
}
/* Dust */
.wi-owm-731 {
  color: tan;
}
/* Tornado */
.wi-owm-781 {
  color: purple;
}
.wi-owm-800 {
  color: gold;
}
/* hot */
.wi-owm-904 {
  color: red;
}

/* hail */
.wi-owm-906 {
  color: LightGray;
}
/* Windy, Strong wind */
.wi-owm-905, .wi-owm-957 {
  color: lime;
}
/* Cloudy Gusts */
.wi-owm-771 {
  color: LimeGreen;
}
/* Wind direction icons. */
.wi.wi-wind {
  color: #000;
}
